.border-sm-right{
    color:aqua;
}
.img{
    -webkit-box-reflect: below;
}
#overlay {

    z-index: 1;
    color: rgb(8, 8, 8);
    font-family: Inconsolata, monospace;
    /* font-size: 50px; */
    text-align: center;
    line-height: 5px;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); */
  }
  @media screen and (min-width: 768) { 
    .border-sm-right {
        border-radius:50%;
        color: rgb(158, 43, 43);
    }
}

  