/* AppComponent's private CSS styles
h1 {
    margin-bottom: 0;

  }

  nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    background-color: #83cdeb;
    color: #bb0d0d;
    border-radius: 4px;
  }
  */
  nav a:hover {
    color: black;
    background-color: #42545C;
  }
  /* 
  nav a:active {
    background-color: black;
  } */