<!-- <div class="primary" style="height: 12%;width: 100%; background-color: blue; justify-content: space-around;"> -->
<!-- <nav>
    <a class="btn btn-secondary mat-raised-button  text-light btn-outline-primary mx-2 my-4"  >Dashboard</a>
    <a class="btn btn-secondary mat-raised-button text-light btn-outline-primary mx-2 my-4" >Heroes</a>
    <a class="btn btn-secondary mat-raised-button text-light btn-outline-primary mx-2 my-4" routerLink="/arena">Arena</a>
    <a class="btn btn-secondary mat-raised-button text-light btn-outline-primary mx-2 my-4" routerLink="/login">Login</a>
</nav> -->

<nav class="navbar  navbar-expand-md bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn btn-secondary mat-raised-button  text-light btn-outline-primary mx-2" aria-current="page" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary mat-raised-button  text-light btn-outline-primary mx-2" routerLink="/heroes">Heroes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary mat-raised-button  text-light btn-outline-primary mx-2" routerLink="/arena">Arena</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary mat-raised-button  text-light btn-outline-primary mx-2" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->

